//- include header ( Meta and css )
include pug/layout/head.pug
    body.overflow-x-hidden
        #Contact 

            //- include navbar
            include pug/layout/nav.pug
            include pug/Components/contactDetails.pug 
            include pug/Components/Map.pug 
            include pug/layout/footer.pug


        //- include Script ( All Script files )
        include pug/layout/script.pug