//- include header ( Meta and css )
include pug/layout/head.pug
    body.overflow-x-hidden
        #triple 

            //- include navbar
            include pug/layout/nav.pug
            include pug/Components/until.pug
            //- include pug/Components/Header.pug
            
            <main class="my-8">
                <div class="container mx-auto px-6">
                    <div class="md:flex md:items-start">
                        <div class="w-full md:w-1/2">
                            .tripleImage.h-96 
                                img.w-full.h-full.object-cover(src="assets/img/20.jpg", alt="")
                        </div>
                        <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
                            <h3 class="text-gray-700 text-2xl">Direct Bus to Dubai, UAE</h3>
                            <span class="text-gray-500 text-xl font-bold mt-6 block">Triple start 30 April 2022</span>
                            <span class="text-gray-500 text-xl font-bold mt-6 block w-full">AED 125 <span class="float-right text-blue-700"> 25 seat only </span> </span>
                            <hr class="my-3">
                            
                            <div class="mt-2">
                                <label class="text-gray-700 text-xl font-bold mt-6  " for="count" >Person:</label>
                                <div class="flex items-center mt-1">
                                    <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                    </button>
                                    <span class="text-gray-700 text-lg mx-2">20</span>
                                    <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-3">
                                <label class="text-gray-700 text-xl font-bold mt-6  " for="count">Review:</label>
                                <div class="flex mt-2 item-center">
                                    <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                        <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                    </svg>

                                    <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                        <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                    </svg>

                                    <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                        <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                    </svg>

                                    <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                        <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                    </svg>

                                    <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                        <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex items-center mt-6">
                                <button class="px-8 py-2 bg-indigo-600 text-white text-xl font-bold  font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500">Order Now</button>
                                <button class="mx-2 text-gray-600 border rounded-md p-2 hover:bg-gray-200 focus:outline-none">
                                    <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    .row.flex.items-start.justify-center.mt-16.flex-wrap
                        <div class="w-full md:w-2/3">
                            .tripleDetails 
                                ul.text-gray-700.text-left.relative.overflow-hidden
                                    li.text-lg.relative.overflow-hidden.pl-12.my-4
                                        span.absolute.w-8.h-8.bg-blue-700.left-0.top-2.text-center.text-white.rounded-full 1
                                        strong Date from :  10 Dec 2022
                                        p Time from : 10:00 AM
                                    li.text-lg.relative.overflow-hidden.pl-12.my-4
                                        span.absolute.w-8.h-8.bg-blue-700.left-0.top-2.text-center.text-white.rounded-full 2
                                        <div class="mt-2">
                                            <label class="text-gray-700 text-xl font-bold mt-6">Discription:</label>
                                            <div class="flex items-center mt-1">
                                                p.text-lg.text-gray-500 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam accusantium voluptatibus et, accusamus officiis ratione debitis neque, ducimus dolor a magni. Amet dolorum similique quidem ratione doloremque adipisci saepe modi.
                                            </div>
                                        </div>
                                    li.text-lg.relative.overflow-hidden.pl-12.my-4
                                        span.absolute.w-8.h-8.bg-blue-700.left-0.top-2.text-center.text-white.rounded-full 3
                                        <div class="mt-2 text-left">
                                            <label class="text-gray-700 text-xl font-bold mt-6">Program:</label>
                                            <div class="flex items-center flex-wrap justify-start mt-1">
                                                p.text-lg.text-gray-500.w-full.my-2 - Sharjh Park Lorem, ipsum dolor sit amet consectetur
                                                p.text-lg.text-gray-500.w-full.my-2 - Dubai Mall Lorem, ipsum dolor sit amet consectetur
                                                p.text-lg.text-gray-500.w-full.my-2 - Burj Khalifa Lorem, ipsum dolor sit amet consectetur
                                                p.text-lg.text-gray-500.w-full.my-2 - Abu Dhabi Lorem, ipsum dolor sit amet consectetur
                                                p.text-lg.text-gray-500.w-full.my-2 - Ajman Park Lorem, ipsum dolor sit amet consectetur
                                            </div>
                                        </div>

                                    li.text-lg.relative.overflow-hidden.pl-12.my-4
                                        span.absolute.w-8.h-8.bg-blue-700.left-0.top-2.text-center.text-white.rounded-full 4
                                        <div class="mt-2 text-left">
                                            <label class="text-gray-700 text-xl font-bold mt-6">Locaion:</label>
                                            <div class="flex items-center flex-wrap justify-start mt-1">
                                                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Dubai&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                            </div>
                                        </div>
                                    li.text-lg.relative.overflow-hidden.pl-12.my-4
                                        span.absolute.w-8.h-8.bg-blue-700.left-0.top-2.text-center.text-white.rounded-full 5
                                        strong Date To :  15 Dec 2022
                                        p Time To : 8:00 PM
                        </div>
                        <div class="w-full md:w-1/3 p-4">
                                <div class="w-full mx-auto border rounded-lg md:mx-4 text-xl">
                                    <div class="p-6">
                                        <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-3xl dark:text-white">Features</h1>

                                        <p class="mt-4 text-gray-500 dark:text-gray-300">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus
                                        </p> 
                                    </div>

                                    <hr class="border-gray-200 dark:border-gray-700">

                                    <div class="p-6">
                                        <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">What’s included:</h1>

                                        <div class="mt-8 space-y-4">
                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">Meals</span>
                                            </div>

                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">Hotel</span>
                                            </div>

                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">Drinks</span>
                                            </div>

                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">AC Bus</span>
                                            </div>

                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">Free canclation</span>
                                            </div>

                                            <div class="flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
                                                </svg>

                                                <span class="mx-4 text-gray-700 dark:text-gray-300">50 Person</span>
                                            </div>
                                            <button class="px-8 py-2 bg-indigo-600 text-white text-xl font-bold block font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 w-full">Order Now</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    
                    <div class="mt-16">
                        <h3 class="text-gray-600 text-2xl font-medium">More Triple</h3>
                        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                            <div class="max-w-sm mx-auto lg:w-full overflow-hidden bg-white">
                                .imgItem.h-72.rounded-lg.overflow-hidden
                                    <img class="object-cover object-center min-w-full  h-full" src="assets/img/46.jpg" alt="avatar">
                                <div class="flex items-center px-2 py-3 bg-gray-900">
                                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 21C15.8954 21 15 20.1046 15 19V15C15 13.8954 15.8954 13 17 13H19V12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12V13H7C8.10457 13 9 13.8954 9 15V19C9 20.1046 8.10457 21 7 21H3V12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12V21H17ZM19 15H17V19H19V15ZM7 15H5V19H7V15Z" />
                                    </svg>
                                    <h1 class="mx-3 text-lg font-semibold text-white">Focusing</h1>
                                </div>

                                <div class="px-2 py-4">
                                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Patterson johnson</h1>
                                    <div class="flex mt-2 item-center">
                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>
                                    </div>
                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14 11H10V13H14V11Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">Meraki UI</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">California</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">patterson@example.com</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="max-w-sm mx-auto lg:w-full overflow-hidden bg-white">
                                .imgItem.h-72.rounded-lg.overflow-hidden
                                    <img class="object-cover object-center min-w-full  h-full" src="assets/img/46.jpg" alt="avatar">
                                <div class="flex items-center px-2 py-3 bg-gray-900">
                                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 21C15.8954 21 15 20.1046 15 19V15C15 13.8954 15.8954 13 17 13H19V12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12V13H7C8.10457 13 9 13.8954 9 15V19C9 20.1046 8.10457 21 7 21H3V12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12V21H17ZM19 15H17V19H19V15ZM7 15H5V19H7V15Z" />
                                    </svg>
                                    <h1 class="mx-3 text-lg font-semibold text-white">Focusing</h1>
                                </div>

                                <div class="px-2 py-4">
                                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Patterson johnson</h1>
                                    <div class="flex mt-2 item-center">
                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>
                                    </div>
                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14 11H10V13H14V11Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">Meraki UI</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">California</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">patterson@example.com</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="max-w-sm mx-auto lg:w-full overflow-hidden bg-white">
                                .imgItem.h-72.rounded-lg.overflow-hidden
                                    <img class="object-cover object-center min-w-full  h-full" src="assets/img/46.jpg" alt="avatar">
                                <div class="flex items-center px-2 py-3 bg-gray-900">
                                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 21C15.8954 21 15 20.1046 15 19V15C15 13.8954 15.8954 13 17 13H19V12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12V13H7C8.10457 13 9 13.8954 9 15V19C9 20.1046 8.10457 21 7 21H3V12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12V21H17ZM19 15H17V19H19V15ZM7 15H5V19H7V15Z" />
                                    </svg>
                                    <h1 class="mx-3 text-lg font-semibold text-white">Focusing</h1>
                                </div>

                                <div class="px-2 py-4">
                                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Patterson johnson</h1>
                                    <div class="flex mt-2 item-center">
                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>
                                    </div>
                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14 11H10V13H14V11Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">Meraki UI</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">California</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">patterson@example.com</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="max-w-sm mx-auto lg:w-full overflow-hidden bg-white">
                                .imgItem.h-72.rounded-lg.overflow-hidden
                                    <img class="object-cover object-center min-w-full  h-full" src="assets/img/46.jpg" alt="avatar">
                                <div class="flex items-center px-2 py-3 bg-gray-900">
                                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 21C15.8954 21 15 20.1046 15 19V15C15 13.8954 15.8954 13 17 13H19V12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12V13H7C8.10457 13 9 13.8954 9 15V19C9 20.1046 8.10457 21 7 21H3V12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12V21H17ZM19 15H17V19H19V15ZM7 15H5V19H7V15Z" />
                                    </svg>
                                    <h1 class="mx-3 text-lg font-semibold text-white">Focusing</h1>
                                </div>

                                <div class="px-2 py-4">
                                    <h1 class="text-xl font-semibold text-gray-800 dark:text-white">Patterson johnson</h1>
                                    <div class="flex mt-2 item-center">
                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>

                                        <svg class="w-5 h-5 text-gray-500 fill-current" viewBox="0 0 24 24">
                                            <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                                        </svg>
                                    </div>
                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14 11H10V13H14V11Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">Meraki UI</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">California</h1>
                                    </div>

                                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" />
                                        </svg>
                                        <h1 class="px-2 text-lg">patterson@example.com</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 mt-16 row flex flex-wrap justify-start overflow-hidden">
                        <h1 class="text-3xl w-full font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Our Reviews</h1>
                        <div class="my-2 shadow-lg rounded-t-8xl rounded-b-5xl w-full md:w-10/12 px-4 py-8 bg-white bg-opacity-40">
                            <div class="flex flex-wrap items-center">
                                <img class="mr-6 w-8 h-8 rounded-full object-cover" src="assets/img/1.jpg" alt="">
                                <h4 class="w-full md:w-auto text-xl font-heading font-medium">Faustina H. Fawn</h4>
                                <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200"></div>
                                <span class="mr-4 text-xl font-heading font-medium">5.0</span>
                                <div class="inline-flex">
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block text-gray-200" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="flex items-center mt-1">
                                    p.text-lg.text-gray-500 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam accusantium voluptatibus et, accusamus officiis ratione debitis neque, ducimus dolor a magni. Amet dolorum similique quidem ratione doloremque adipisci saepe modi.
                                </div>
                            </div>
                        </div>
                        <div class="my-2 shadow-lg rounded-t-8xl rounded-b-5xl w-full md:w-10/12 px-4 py-8 bg-white bg-opacity-40">
                            <div class="flex flex-wrap items-center">
                                <img class="mr-6 w-8 h-8 rounded-full object-cover" src="assets/img/1.jpg" alt="">
                                <h4 class="w-full md:w-auto text-xl font-heading font-medium">Faustina H. Fawn</h4>
                                <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200"></div>
                                <span class="mr-4 text-xl font-heading font-medium">5.0</span>
                                <div class="inline-flex">
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block mr-1" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                    <a class="inline-block text-gray-200" href="#">
                                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="flex items-center mt-1">
                                    p.text-lg.text-gray-500 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam accusantium voluptatibus et, accusamus officiis ratione debitis neque, ducimus dolor a magni. Amet dolorum similique quidem ratione doloremque adipisci saepe modi.
                                </div>
                            </div>
                        </div>
                        
                        <div class="w-full md:w-1/2 p-6 text-lg">
                            <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Add  Review</h2>
                            
                            <form>
                                <div class="mt-4">
                                    <label class="text-gray-700 dark:text-gray-200" for="name">Name</label>
                                    <input id="name" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                                </div>

                                <div class="mt-4">
                                    <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Email Address</label>
                                    <input id="emailAddress" type="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                                </div>

                                <div class="mt-4">
                                    <label class="text-gray-700 dark:text-gray-200" for="rate">Rate</label>
                                    <select id="rate" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                                        <option> 1 (Lowest) </option>
                                        <option> 2 </option>
                                        <option> 3 </option>
                                        <option> 4 </option>
                                        <option> 5 (Heighest)</option>
                                    </select>
                                </div>

                                <div class="mt-4">
                                    <label class="text-gray-700 dark:text-gray-200" for="comment">Your comment</label>
                                    <textarea class="block w-full h-40 px-4 py-2 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"></textarea>
                                </div>

                                <div class="flex justify-end mt-6">
                                    <button class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
                                </div>
                            </form>
                        </div>
                </div>
            </main>

            include pug/Components/Map.pug 
            include pug/layout/footer.pug
        //- include Script ( All Script files )
        include pug/layout/script.pug