@media screen and (max-width : 768px) {
    nav {
        .flex-1.md\:flex.md\:items-center.md\:justify-between {
            max-height: .1vh;
            transition: all 1s ease-in-out;
    
            &.active {
                max-height: 100vh; 
            transition: all 1s ease-in-out;
            }
        }
    }
}