
<!-- Join Section--><section class="Join bg-gray-100 md:mt-32 dark:bg-gray-900 lg:py-12 lg:flex lg:justify-center">
<div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
<div class="lg:w-1/2">
<div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/img/5.jpg')"></div>
</div>
<div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
<h2 class="text-2xl font-bold text-gray-800 dark:text-white md:text-3xl">Join to <span class="text-blue-600 dark:text-blue-400">our triple</span></h2>
<p class="mt-4 text-gray-600 dark:text-gray-400 text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem 55odi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim expedita aperiam mollitia iure 55onsectetur dicta tenetur, porro consequuntur saepe accusantium consequatur.</p>
<div class="mt-8">
<a href="#" class="px-5 py-2 font-semibold text-gray-100 transition-colors duration-200 transform bg-gray-900 rounded-md hover:bg-gray-700 text-2xl">Start Now</a>
</div>
</div>
</div>
</section>
<!-- End Section -->