// Banner Section
.Banner 
    .sliderBanner.max-h-screen.relative.overflow-hidden
        div.min-h-screen.relative.overflow-hidden
            img.w-full.h-full(src="assets/img/20.jpg", alt="")
            .item.absolute.text-white.flex.items-center.justify-center.flex-wrap.text-center.text-xl(class="top-1/2 left-1/2")
                h3.title Join To Us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse explicabo at autem, eligendi rem temporibus laboriosam quis blanditiis molestias dolorum amet consequatur 
                a.btn.my-8.px-8.py-4 Join Now
        div.min-h-screen.relative.overflow-hidden
            img.w-full.h-full(src="assets/img/21.jpg", alt="")
            .item.absolute.text-white.flex.items-center.justify-center.flex-wrap.text-center.text-xl(class="top-1/2 left-1/2")
                h3.title Join To Us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse explicabo at autem, eligendi rem temporibus laboriosam quis blanditiis molestias dolorum amet consequatur 
                a.btn.my-8.px-8.py-4 Join Now
        div.min-h-screen.relative.overflow-hidden
            img.w-full.h-full(src="assets/img/22.jpg", alt="")
            .item.absolute.text-white.flex.items-center.justify-center.flex-wrap.text-center.text-xl(class="top-1/2 left-1/2")
                h3.title Join To Us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse explicabo at autem, eligendi rem temporibus laboriosam quis blanditiis molestias dolorum amet consequatur 
                a.btn.my-8.px-8.py-4 Join Now
        div.min-h-screen.relative.overflow-hidden
            img.w-full.h-full(src="assets/img/23.jpg", alt="")
            .item.absolute.text-white.flex.items-center.justify-center.flex-wrap.text-center.text-xl(class="top-1/2 left-1/2")
                h3.title Join To Us 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium esse explicabo at autem, eligendi rem temporibus laboriosam quis blanditiis molestias dolorum amet consequatur 
                a.btn.my-8.px-8.py-4 Join Now